
       h1{
           font-family: sans-serif;
           color: rgb(218, 194, 150);
       }
       .list{
            background-color:purple;
            color: white;
       }

       p{
           font-weight: 600;
           font-size: xx-large;
           color: white;
       }   
       body{
           background-color: black;
           font-size: 16px;
           font-style: normal;
           line-height: 40px;
           text-align: center;
           text-decoration:solid;
       }

    