/*Para formar borda nos itens utilizando somente o comando div:hover*/
div:hover{
    border-style: groove;
    
}

/* O comando div:nth-of-type() possibilita definir a posição da div
que será modificada no conteúdo*/
div:nth-of-type(1){
    background-color:red;
    color:white;
    font-style: bold;
    font-family: Arial;
}

div:nth-of-type(2){
    background-color:green;
    color:orange;
    font-style: bold;
    font-family: Arial;
}

div:nth-of-type(3){
    background-color: greenyellow;
    color:purple;
    font-style: bold;
    font-family: Arial;
}

div:nth-of-type(4){
    background-color: darkolivegreen;
    color: silver;
    font-style: bold;
    font-family: Arial;
}

div:nth-of-type(5){
    background-color: lightblue;
    color: teal;
    font-style: bold;
    font-family: Arial;
}

/* 4- Faça a terceira div ser maior que as demais*/

/* 5- Deixe as tags ímpares h3 com o texto em itálico*/