.caixa{
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}

.width-and-height{
    height: 50px;
    width: 50px;
}

.padding{
    height: 20%;
    width: 20%;
}

.margin{
    height: 30%;
    width: 30%;
}
/* insira na classe abaixo uma borda com valor '5px solid black'
para aplicá-la ao item D */
.border{
    border-width: 5px;
    border-color:black;
    border-style: groove;
}
