.caixa{
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
}

.width-and-height{
    height: 50px;
    width: 50px;
}

.padding{
    height: 20%;
    width: 20%;
}

.margin{
    height: 30%;
    width: 30%;
}
