ol{
    background-color: yellow;
}

ol li:nth-of-type(2n){
    color: green;
}

ol li:nth-of-type(2n+1){
    text-transform:lowercase;
}

.header{
    color: red;
}
h1.header{
    font-size: 40px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

li{
    font-size: 20px;
}

ol li{
    font-weight: bold;
}

ul li:nth-child(1){
    color:blue;
}

ul li:nth-of-type(2){
    color:blue;
}

ul li:nth-of-type(3){
    color:blue;
}

#java{
    background-color: rgb(170, 90, 120);
}

ul li a:hover{
    font-weight: bold;
    background-color: green;
}